.board {
    display: grid;
    width: inherit;
    aspect-ratio: inherit;
    gap: 5px;
    background-color: black;
    border: 10px solid;
    border-color: black;
    /* NOTE: given time, I would consider a library/framework like Tailwind to share
    this constant across the GRID_SIZE used in Board.tsx  */
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
}

.board-container {
    width: 50%;
    aspect-ratio: 1/1;
    padding: 10%;
}