.game-token {
    width: 75%;
    height: 75%;
    background-color: black;
    border-radius: 100%;
    margin: 2.5%;
    padding: 10%;
}

.none {
    background-color: green;
}

.dark {
    background-color: black;
}

.light {
    background-color: white;
}
