.game-token {
    width: 70%;
    height: 70%;
    background-color: black;
    border-radius: 100%;
    margin: auto;
    padding: 10%;
}

.none {
    background-color: green;
}

.black {
    background-color: black;
}

.white {
    background-color: white;
}
